.card {
  margin: 0 0.5em;
  box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
  border: none;
  overflow: hidden;
}
.card img{
  height: 12em;
  width: match-parent;
}
img {
  height: 100%;
  width: 100%;
  opacity: 100;
}
