{% extends "base.html" %}
{% load static %}

{% load humanize %}
{% load extraFilter %}
{% block title %}
Tìm món
{% endblock %}

{% block link %}
<link href="{% static 'css/imgstyle.css' %}" rel="stylesheet">
 
{% endblock %}

{% block content %}
<div class="container-fluid">
{% if searched %}
    {% if searchresult %}
      <div class="container-md p-4">
      <h1 class="text-center text-bg-light opacity-75 mx-auto p-2 " 
      style="width: 50vw;">Bạn tìm món "{{searched}}"</h1>
    </div>
      <div class="container text-center">
      <div class="row row-cols-4">
      {% for result in searchresult %}
      <div class="col">
          <div class="card mb-3 text-center">
            <img src="../media/{{result.image}}" class="rounded-3 img-top" alt="{{result.name}}"> 
            <div class="card-body">
              <h5 class="card-title">{{result.name}}</h5>
              <p class="card-text">{{result.price|intcomma}} VND</p>
              <p class="card-text">Đã bán {{result.ordered_times}}</p>
              <button type="button" value="{{ result.id }}" id ="add-cart{{ result.id }}" class="btn btn-primary">Thêm vào giỏ</button>
            </div>
          </div>
        </div>
        <script>
          $(document).on('click','#add-cart{{ result.id }}', function(e){
            e.preventDefault();
            $.ajax({
              type: 'POST',
              url: '{% url 'cart_add' %}',
              data:{
                product_id: $('#add-cart{{ result.id }}').val(),
                csrfmiddlewaretoken: '{{ csrf_token }}',
                action: 'post'
              },
              success: function(json){
                console.log(json);
                document.getElementById("cart_quantity").textContent = json.qty;
              },
        
              error: function(xhr, errmsg, err){
        
              }
        
            });
          })
        </script>
      {% endfor %}
      </div>
      </div>
      {% else %}
      <div class="container-md p-4">
      <h1 class="text-center text-bg-light opacity-75 mx-auto p-2 " 
      style="width: 50vw;">Không tìm được món bạn muốn rồi T.T</h1>
      </div>
      {% endif %}
  
  {% else %}
    <div class="container-md p-4">
    <h1 class="text-center text-bg-light opacity-75 mx-auto p-2 " 
    style="width: 50vw;">Bạn chưa nhập món để tìm</h1>
  </div>
  {% endif %}
</div>
<script>
  $(document).on('click','#add-cart', function(e){
    e.preventDefault();
    $.ajax({
      type: 'POST',
      url: '{% url 'cart_add' %}',
      data:{
        product_id: $('#add-cart').val(),
        csrfmiddlewaretoken: '{{ csrf_token }}',
        action: 'post'
      },
      success: function(json){
        console.log(json);
        document.getElementById("cart_quantity").textContent = json.quantity;
      },

      error: function(xhr, errmsg, err){

      }

    });
  })
</script>
{% endblock %}